<md-toolbar layout-padding>
    <span>Doc Music Player</span>
</md-toolbar>
<div layout-gt-md="row" layout-md="column">

        <div flex-gt-md="35" flex>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <h3 class="md-title">Currently Playing</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <span ng-if="!currentlyPlaying"><em>Nothing is currently playing.</em></span>
                    <img ng-if="currentUrl" ng-src="{{currentUrl}}" style="width: 50%"/>
                    <br ng-if="currentUrl">
                    <span>{{currentlyPlaying}}</span><span ng-if="currentlyPlayingAuto"><md-icon ng-class="{'fa-spin':magicModeState}">stars</md-icon></span>
		    <span>{{request.title}}</span>
                </md-card-content>
            </md-card>

            <div flex layout-gt-md="row" flex-md="column">
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h3 class="md-title">Playback Controls</h3>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <span fleX></span>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="easterEgg()"><md-icon >skip_previous</md-icon></md-button>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="playbackStateButtonClicked()" title="{{ playbackStateMessage }}"><md-icon>{{ playbackStateIcon }}</md-icon></md-button>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="skipSong()" title="Skip Current Song"><md-icon>skip_next</md-icon></md-button>
                            <span fleX></span>
                        </div>

                        <br>
                        <md-button class="md-primary md-raised" ng-click="toggleMagicMode()" ><md-icon ng-class="{'fa-spin':magicModeState}">stars</md-icon> Magic Mode</md-button>
                        <md-button class="md-primary md-raised" ng-click="clearRecent()" title="Clear History" ><md-icon>close</md-icon> Clear History</button> 

                    </md-card-content>
                </md-card>

                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h3 class="md-title">Volume</h3>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>

                        <div layout="row">
                            <span flex></span>
                            <span>{{volume}}</span><span>%</span>
                            <span flex></span>
                        </div>
                        <div layout="column">
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = volume+1; volumeUpdate()">+1</md-button>
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = volume-1; volumeUpdate() ">-1</md-button>
                            </div>
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = volume+5; volumeUpdate()">+5</md-button>
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = volume-5; volumeUpdate() ">-5</md-button>
                            </div>
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = 0; volumeUpdate()">0%</md-button>
                                <md-button class="md-primary md-raised" flex ng-click="volume = 50; volumeUpdate()">50%</md-button>
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = 100; volumeUpdate() ">100%</md-button>
                            </div>
                        </div>
                        <md-actions>
                        </md-actions>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <div flex>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                      <h3 class="md-title">Queue</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                  <span ng-if="queue.length === 0"><em>No reqests in queue.</em></span>
                  <md-list class="md-dense">
                    <md-list-item ng-repeat="request in queue">
			<img style="width: 10%;" ng-src="{{request.thumbnail.url}}"/>
			<span>{{request.title}}</span>
                      <!--
                      <ul>
                        <li>
                          <span>Description {{request.description}}</span>
                          <span><burron ng-click="requestSong(request.id)"></burron></span>
                        </li>
                      </ul>
                      -->
                    </md-list-item>
                  </md-list>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <h3 class="md-title">Add Request</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <form ng-submit="searchSong()">
                        <md-input-container flex>
                        <label>Query</label>
                        <input ng-model="url">
                        </md-input-container>
                        <md-button class="md-primary md-raised md-icon-button" ng-click="searchSong()"><md-icon>search</md-icon></md-button>
                    </form>
                </md-card-content>
            </md-card>


            <md-card ng-if="searchResults.length > 0">
                <md-card-header>
                    <md-card-header-text>
                        <h3 class="md-title">Search Results</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="column">
                    <md-input-container flex>
                        <label>Filter Results</label>
                        <input type="text" ng-model="filterResult"/>
                    </md-input-container>
                    <md-button flex class="md-primary" ng-click="clearSearch()">Clear Results</md-button>
                    <md-content layout="row">
                        <ol flex>
                            <li ng-repeat="result in searchResults | filter:filterResult" >
                                <div>
                                    <md-button class="md-primary md-raised" ng-click="requestSong(result.yt)">Request</md-button>
				    <img style="width: 10%;" ng-src="{{result.thumbnail.url}}"/>
                                    <span>{{result.title}}</span>
                                </div>
                            </li>
                        </ol>
                    </md-content>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <h3 class="md-title">Settings</h3>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="row">
                <div flex>
                </div>
                <div flex>
                </div>
            </div>

            <div ng-if="showControls">
            <div>
                <md-checkbox ng-model="chk.recent" ng-click="recentCheckboxClicked()"> Allow recent songs to be replayed (Once per hour) automatically.</md-checkbox>
                <md-checkbox ng-model="chk.related"  ng-click="relatedCheckboxClicked()"> Allow songs related to songs that have already been played to be queued automatically.</md-checkbox>
                <md-checkbox ng-model="chk.relatedToRecent" ng-click="relatedToRecentCheckboxClicked()"> Allow a related song to be added to the list of recently played songs. <em>Note: this will allow the player to play a related song to a related song and so forth, eventually resulting in a large drift from the original song that was played.</em></md-checkbox>
            </div>

            <div ng-if="!playbackMaxLengthState" ><md-icon>music_video</md-icon></div>
            <div>
                <md-button class="md-primary md-raised" ng-click="toggleControls()"><md-icon class="fa-spin">settings</md-icon> Hide Settings</md-button>
            </div>
            </div>
                <md-button class="md-primary md-raised" ng-if="!showControls" ng-click="toggleControls()"><md-icon class="fa-spin">settings</md-icon> Show Settings</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>
