<div class="pure-g">
  <div class="pure-u-1-3">
    <div>
      <h3>Currently Playing</h3>
      <ul>
        <li>
          <span ng-if="!currentlyPlaying"><em>Nothing is currently playing.</em></span>
          <span>{{currentlyPlaying}}</span>
        </li>
      </ul>
    </div>

    <div>
      <h3>Queue</h3>
      <span ng-if="queue.length === 0"><em>No reqests in queue.</em></span>
      <ol ng-repeat="request in queue">
        <li>
          {{request.title}}
          <!--
          <ul>
            <li>
              <span>Description {{request.description}}</span>
              <span><burron ng-click="requestSong(request.id)"></burron></span>
            </li>
          </ul>
          -->
        </li>
      </ol>
    </div>
    <div>
      <h3>Controls</h3>
      <div ng-if="showControls">
        <div>
          <p><input type="checkbox" ng-model="recentCheckbox" ng-click="recentCheckboxClicked()"> Allow recent songs to be replayed (Once per hour) automatically.</p>
          <p><input type="checkbox" ng-model="relatedCheckbox"  ng-click="relatedCheckboxClicked()"> Allow songs related to songs that have already been played to be queued automatically.</p>
          <p><input type="checkbox" ng-model="relatedToRecentCheckbox" ng-click="relatedToRecentCheckboxClicked()"> Allow a related song to be added to the list of recently played songs. <em>Note: this will allow the player to play a related song to a related song and so forth, eventually resulting in a large drift from the original song that was played.</em></p>
          <p><button ng-click="skipSong()">Skip Current Song</button></p>
          <p><button ng-click="clearRecent()">Clear Recently Played Songs List</button></p>
          <p><button ng-click="playbackStateButtonClicked()">{{playbackStateMessage()}}</button>
        </div>
        <button ng-click="toggleControls()">Hide Controls</button>
      </div>
      <button ng-if="!showControls" ng-click="toggleControls()">Show Controls</button>
    </div>
  </div>


  <div class="pure-u-2-3">
    <div>
      <h3>Add Request</h3>
      <div>
        <p>Query: <input ng-model="url"><button ng-click="searchSong()">Submit</button></p>
      </div>
    </div>

    <div ng-if="searchResults.length > 0">
      <h3>Search Results</h3>
      <div style="overflow-y: scroll; height: 500px; border-width: 2px; border-style: solid;">
        <ul ng-repeat="result in searchResults" >
          <li>
            <div>
              <span>{{result.title}}</span>
              <button ng-click="requestSong(result.yt)">Request</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>