<md-toolbar layout-padding>
    <span>Doc Music Player</span>
</md-toolbar>
<div layout-gt-md="row" layout-md="column">

        <div flex-gt-md="35" flex>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <h3 class="md-title">Currently Playing</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <div ng-if="!currentlyPlaying">
                        <span><em>Nothing is currently playing.</em></span>
                    </div>
                    <div ng-if="currentlyPlaying" style="text-align: center">
                        <span>{{currentlyPlaying.title}}</span><span ng-if="currentlyPlaying.auto_queued"><md-icon class="fa-spin">stars</md-icon></span>
                        <br>
                        <br>
                        <img style="width:50%" ng-src="{{currentlyPlaying.thumbnail.url}}"/>
                    </div>
                </md-card-content>
            </md-card>

            <div flex layout-gt-md="row" flex-md="column">
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h3 class="md-title">Playback Controls</h3>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <span flex></span>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="easterEgg()"><md-icon >skip_previous</md-icon></md-button>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="playbackStateButtonClicked()" title="{{ playbackStateMessage }}"><md-icon>{{ playbackStateIcon }}</md-icon></md-button>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="skipSong()" title="Skip Current Song"><md-icon>skip_next</md-icon></md-button>
                            <span flex></span>
                        </div>

                        <br>
                        <md-button class="md-primary md-raised" ng-click="toggleMagicMode()" ><md-icon ng-class="{'fa-spin':magicModeState}">stars</md-icon> Magic Mode</md-button>
                        <md-button class="md-primary md-raised" ng-click="clearRecent()" title="Clear History" ><md-icon>close</md-icon> Clear History</button> 

 song                    </md-card-content>
                </md-card>

                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h3 class="md-title">Volume</h3>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>

                        <div layout="row">
                            <span flex></span>
                            <span>{{volume}}</span><span>%</span>
                            <span flex></span>
                        </div>
                        <div layout="column">
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = volume+1; volumeUpdate()">+1</md-button>
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = volume-1; volumeUpdate() ">-1</md-button>
                            </div>
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = volume+5; volumeUpdate()">+5</md-button>
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = volume-5; volumeUpdate() ">-5</md-button>
                            </div>
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = 0; volumeUpdate()">0%</md-button>
                                <md-button class="md-primary md-raised" flex ng-click="volume = 50; volumeUpdate()">50%</md-button>
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = 100; volumeUpdate() ">100%</md-button>
                            </div>
                        </div>
                        <md-actions>
                        </md-actions>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <div flex>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                      <h3 class="md-title">Queue</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content ng-style="!showFullQueue && {'height':'200px'}">
                  <span ng-if="queue.length === 0"><em>No reqests in queue.</em></span>
                  <md-list class="md-dense">
                      <md-list-item ng-repeat="request in queue | limitTo: fullQueueLimit">
                        <span>{{ $index + 1 + ". " }}<span>
                        <img style="width:10%" ng-src="{{request.thumbnail.url}}"/>
                        <span>{{request.title}}</span>
                    </md-list-item>
                  </md-list>
                </md-card-content>
                <md-card-actions>
                  <md-button ng-if="!showFullQueue" ng-click="toggleShowFullQueue()">
                      <span ng-if="queue.length > 3">Show full queue ({{queue.length}} in queue)</span>
                      <span ng-if="queue.length <= 3">Show full queue</span>
                  </md-button>
                  <md-button ng-if="showFullQueue" ng-click="toggleShowFullQueue()">Hide full queue</md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <h3 class="md-title">Add Request</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <form ng-submit="searchSong()">
                        <md-input-container flex>
                        <label>Query</label>
                        <input ng-model="url">
                        </md-input-container>
                        <md-button class="md-primary md-raised md-icon-button" ng-click="searchSong()"><md-icon>search</md-icon></md-button>
                    </form>
                </md-card-content>
            </md-card>


            <md-card ng-if="searchResults.length > 0">
                <md-card-header>
                    <md-card-header-text>
                        <h3 class="md-title">Search Results</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="column">
                    <md-input-container flex>
                        <label>Filter Results</label>
                        <input type="text" ng-model="filterResult"/>
                    </md-input-container>
                    <md-button flex class="md-primary" ng-click="clearSearch()">Clear Results</md-button>
                    <md-content layout="row">
                        <ol flex>
                            <li ng-repeat="result in searchResults | filter:filterResult" >
                                <div>
                                    <img style="width:10%" ng-src="{{result.thumbnail.url}}"/>
                                    <md-button class="md-primary md-raised" ng-click="requestSong(result.id)">Request</md-button>
                                    <span>{{result.title}}</span>
                                </div>
                            </li>
                        </ol>
                    </md-content>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <h3 class="md-title">Settings</h3>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div ng-if="showControls">
                <div>
                    <h3>Select Theme:</h3>
                    <md-input-container>
                        <md-select ng-model="$parent.theme">
                            <md-option ng-value="themeName" ng-repeat="themeName in themeColors">{{ themeName | capitalizeThemeName }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-checkbox ng-model="$parent.darkTheme"> Dark Theme?</md-checkbox>
                    <md-button class="md-primary md-raised" ng-click="changeTheme()">Change Theme</md-button>
                </div>

                <div ng-if="!playbackMaxLengthState" >
                    <md-icon>music_video</md-icon>
                </div>

                <div>
                    <md-button class="md-primary md-raised" ng-click="toggleControls()"><md-icon class="fa-spin">settings</md-icon> Hide Settings</md-button>
                </div>
            </div>
            <div>
                <md-button class="md-primary md-raised" ng-if="!showControls" ng-click="toggleControls()"><md-icon class="fa-spin">settings</md-icon> Show Settings</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>
