<md-toolbar layout-padding>
    <span>Doc Music Player</span>
</md-toolbar>
<div layout-gt-md="row" layout-md="column">

        <div flex-gt-md="35" flex>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <h3 class="md-title">Currently Playing</h3>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <div ng-if="!currentlyPlaying">
                        <span><em>Nothing is currently playing.</em></span>
                    </div>
                    <div ng-if="currentlyPlaying" style="text-align: center">
                        <span>{{currentlyPlaying.title}}</span><span ng-if="currentlyPlaying.auto_queued"><md-icon class="fa-spin">stars</md-icon></span>
                        <br>
                        <br>
                        <img style="width:50%" ng-src="{{currentlyPlaying.thumbnail.url}}"/>
                        <md-button class="md-primary md-raised" ng-click="addFavorite(currentlyPlaying)">Favorite</md-button>
                    </div>
                </md-card-content>
            </md-card>

            <div flex layout-gt-md="row" flex-md="column">
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h3 class="md-title">Playback Controls</h3>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <span flex></span>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="easterEgg()"><md-icon >skip_previous</md-icon></md-button>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="playbackStateButtonClicked()" title="{{ playbackStateMessage }}"><md-icon>{{ playbackStateIcon }}</md-icon></md-button>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="skipSong()" title="Skip Current Song"><md-icon>skip_next</md-icon></md-button>
                            <span flex></span>
                        </div>

                        <br>
                        <md-button class="md-primary md-raised" ng-click="toggleMagicMode()" ><md-icon ng-class="{'fa-spin':magicModeState}">stars</md-icon> Magic Mode</md-button>
                        <md-button class="md-primary md-raised" ng-click="clearRecent()" title="Clear History" ><md-icon>close</md-icon> Clear History</button> 

                    </md-card-content>
                </md-card>

                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h3 class="md-title">Volume</h3>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>

                        <div layout="row">
                            <span flex></span>
                            <span>{{volume}}</span><span>%</span>
                            <span flex></span>
                        </div>
                        <div layout="column">
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = volume+1; volumeUpdate()">+1</md-button>
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = volume-1; volumeUpdate() ">-1</md-button>
                            </div>
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = volume+5; volumeUpdate()">+5</md-button>
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = volume-5; volumeUpdate() ">-5</md-button>
                            </div>
                            <div flex layout="row">
                                <md-button class="md-primary md-raised md-hue-3" flex ng-click="volume = 0; volumeUpdate()">0%</md-button>
                                <md-button class="md-primary md-raised" flex ng-click="volume = 50; volumeUpdate()">50%</md-button>
                                <md-button class="md-primary md-raised md-hue-2" flex ng-click="volume = 100; volumeUpdate() ">100%</md-button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <div flex>
            <div layout-gt-md="row" layout-md="column">
                <div flex>
                    <md-card flex>
                        <md-card-header>
                            <md-card-header-text>
                              <h3 class="md-title">Queue</h3>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content >
                          <span ng-if="queue.length === 0"><em>No reqests in queue.</em></span>
                          <md-content ng-if="queue.length > 0"  ng-style="{'height': queueHeight}" layout-padding>
                              <md-list class="md-dense">
                                  <md-list-item ng-repeat="request in queue">
                                    <span>{{ $index + 1 + ". " }}<span>
                                    <img style="width:10%" ng-src="{{request.thumbnail.url}}"/>
                                    <span>{{request.title}}</span>
                                    <br>
                                    <md-button class="md-primary md-raised" ng-click="addFavorite(request)">Favorite</md-button>
                                </md-list-item>
                              </md-list>
                            </md-content>
                        </md-card-content>
                        <md-card-actions>
                            <md-button ng-if="!showFullQueue && queue.length > 0" ng-click="toggleShowFullQueue()">Show More</md-button>
                          <md-button ng-if="showFullQueue" ng-click="toggleShowFullQueue()">Show Less</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex>
                    <md-card flex>
                        <md-card-header>
                            <md-card-header-text>
                              <h3 class="md-title">History</h3>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content >
                          <span ng-if="history.length === 0"><em>Nothing in history.</em></span>

                          <md-content ng-if="history.length > 0"  ng-style="{'height': historyHeight}" layout-padding>
                              <md-list class="md-dense">
                                  <md-list-item ng-repeat="request in history">
                                    <span>{{ $index + 1 + ". " }}<span>
                                    <img style="width:10%" ng-src="{{request.thumbnail.url}}"/>
                                    <span>{{request.title}}</span>
                                    <span ng-if="request.auto_queued"><md-icon class="fa-spin">stars</md-icon></span>
                                    <br>
                                    <md-button class="md-primary md-raised" ng-click="addFavorite(request)">Favorite</md-button>
                                </md-list-item>
                              </md-list>
                          </md-content>
                        </md-card-content>
                        <md-card-actions>
                            <md-button ng-if="!showFullHistory && history.length > 0" ng-click="toggleShowFullHistory()">Show More</md-button>
                            <md-button ng-if="showFullHistory" ng-click="toggleShowFullHistory()">Show Less</md-button>
                        </md-card-actions>
                    </md-card>
                </div>

                <div flex>
                    <md-card flex>
                        <md-card-header>
                            <md-card-header-text>
                                <h3 class="md-title">Favorites</h3>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <span ng-if="favorites.length === 0"><em>No favorites yet.</em></span>

                            <md-content ng-if="favorites.length > 0"  ng-style="{'height': favoritesHeight}" layout-padding>
                                <md-list class="md-dense">
                                    <md-list-item ng-repeat="favorite in favorites track by $index">
                                        <div>
                                            <img style="width:10%" ng-src="{{favorite.thumbnail.url}}"/>
                                            <span>{{favorite.title}}</span>
                                            <br>
                                            <md-button class="md-primary md-raised" ng-click="requestSong(favorite)">Request</md-button>
                                            <md-button class="md-primary md-raised" ng-click="rmFavorite(favorite)">Unfavorite</md-button>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-card-content>
                        <md-card-actions>
                            <md-button ng-if="!showFullFavorites && favorites.length > 0" ng-click="toggleShowFullFavorites()">Show More</md-button>
                            <md-button ng-if="showFullFavorites" ng-click="toggleShowFullFavorites()">Show Less</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>

            <div flex>
                <md-card flex>
                    <md-card-header>
                        <md-card-header-text>
                            <h3 class="md-title">Add Request</h3>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <form ng-submit="searchSong()">
                            <md-input-container flex>
                            <label>Query</label>
                            <input ng-model="url">
                            </md-input-container>
                            <md-button class="md-primary md-raised md-icon-button" ng-click="searchSong()"><md-icon>search</md-icon></md-button>
                        </form>

                        <div ng-if="searchResults.length > 0">
                            <md-input-container flex>
                                <label>Filter Results</label>
                                <input type="text" ng-model="filterResult"/>
                            </md-input-container>
                            <md-content layout="row" ng-style="{'height': searchHeight}">
                                <md-list class="md-dense">
                                    <md-list-item ng-repeat="result in searchResults | filter:filterResult" >
                                        <div>
                                            <img style="width:10%" ng-src="{{result.thumbnail.url}}"/>
                                            <span>{{result.title}}</span>
                                            <br>
                                            <md-button class="md-primary md-raised" ng-click="requestSong(result)">Request</md-button>
                                            <md-button class="md-primary md-raised" ng-click="addFavorite(result)">Favorite</md-button>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </div>

                    </md-card-content>
                    <md-card-actions>
                        <span ng-if="searchResults.length > 0">
                            <md-button ng-click="clearSearch()">Clear Results</md-button>
                            <md-button ng-if="!showFullSearch" ng-click="toggleShowFullSearch()">Show More</md-button>
                        </span>
                        <md-button ng-if="showFullSearch" ng-click="toggleShowFullSearch()">Show Less</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <h3 class="md-title">Settings</h3>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div ng-if="showControls">
                <div>
                    <h3>Select Theme:</h3>
                    <md-input-container>
                        <md-select ng-model="$parent.theme">
                            <md-option ng-value="themeName" ng-repeat="themeName in themeColors">{{ themeName | capitalizeThemeName }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-checkbox ng-model="$parent.darkTheme"> Dark Theme?</md-checkbox>
                    <md-button class="md-primary md-raised" ng-click="changeTheme()">Change Theme</md-button>
                </div>

                <div ng-if="!playbackMaxLengthState" >
                    <md-icon>music_video</md-icon>
                </div>

                <div>
                    <md-button class="md-primary md-raised" ng-click="toggleControls()"><md-icon class="fa-spin">settings</md-icon> Hide Settings</md-button>
                </div>
            </div>
            <div>
                <md-button class="md-primary md-raised" ng-if="!showControls" ng-click="toggleControls()"><md-icon class="fa-spin">settings</md-icon> Show Settings</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>
